:root {
  --SLICE-WIDTH: 355px;
  --THUMB-COLOR: darkcyan;
  --THUMB-SIZE: 19px;
}

.container {
  max-width: 100%;
  margin-top: 50px;
  position: relative;
  padding: 0 !important;
  margin-left: 0;
  margin-right: 0;
}

.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb:focus {
  outline: none;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0px;
  width: 100%;
  left: 0;
  margin: 0;
}

.thumb--left {
  z-index: 3;
  left: 0;
}

.thumb--right {
  z-index: 4;
  right: -6px;
}

.thumb::-webkit-slider-thumb {
  background-color: var(--THUMB-COLOR);
  border: none;
  outline: none;
  cursor: pointer;
  height: var(--THUMB-SIZE);
  width: var(--THUMB-SIZE);
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.thumb::-moz-range-thumb {
  background-color: var(--THUMB-COLOR);
  border: none;
  outline: none;

  cursor: pointer;
  height: var(--THUMB-SIZE);
  width: var(--THUMB-SIZE);
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.slider {
  position: relative;
  width: calc(100% - 5px);
  margin-left: 2px;
}

.slider__track,
.slider__range {
  position: absolute;
  bottom: -9px;
}

@supports (-moz-appearance: none) {
  .slider__track,
  .slider__range {
    bottom: -5px;
  }
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 9px;
}

.slider__track {
  background-color: hsl(205, 25%, 75%);
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: #65a6d6;
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: #fff !important;
  font-size: 20px;
  margin-top: 20px;
}

.slider__left-value {
  left: 6px;
}

.slider__middle-value {
  left: 6px;
  font-size: 20px;
  color: #f80404 !important;
}

.slider__right-value {
  right: -4px;
}

.values {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 100px;
  color: #00e0ff !important;
}

.slider__left-value,
.slider__right-value {
  color: #00e0ff;
}

.thumb--third {
  z-index: 99;
}

.thumb--third[type="range"] {
  -webkit-appearance: none;
}

.thumb--third[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #ff0202 !important;
  height: 30px;
  width: 5px;
  border-radius: 0;
}

.thumb--right[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: rgb(52, 39, 163);
  height: 143px;
  width: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  top: 48px;
}

.thumb--third[type="range"]::-webkit-slider-thumb {
  height: 143px;
  top: 48px;
}

.thumb--left[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: rgb(52, 39, 163);
  height: 143px;
  width: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  top: 48px;
}

.speed-scroll button {
  margin-top: 40px !important;
  margin: 10px;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 0 20px;
  height: 50px;
  background-color: #fff;
  border: 1px solid hsla(0, 0%, 100%, 0);
  color: #000;
  font-size: 14px;
  min-width: 100px;
  font-weight: 600;
}

.selected-range-left,
.selected-range-right {
  position: absolute;
  border-radius: 10px;
  top: -21px;
  height: 144px;
  z-index: 2;
}

.selected-range-left {
  background-color: #007bff;
  opacity: 0.5;
}

.selected-range-right {
  background-color: #007bff;
  opacity: 0.5;
}

