body {
  font-family: Arial, sans-serif;
  margin: 30px;
  padding: 0;
}

.container {
  margin: 20px auto;
  padding: 0 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

video {
  width: 70%;
  height: auto;
  margin-top: 20px;
}

.timeline {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.timeline-clip {
  height: 20px;
  background-color: red;
  border: 1px solid black;
  margin-right: 5px;
  cursor: pointer;
}

.timeline-clip:last-child {
  margin-right: 0;
}

.blade-tool {
  margin-top: 20px;
}

.export-button {
  margin-top: 20px;
}

.output {
  border-radius: 0.75em;
  display: flex;
  max-width: 95vw;
  overflow-x: auto;
}

/* .output a {
  border-radius: inherit;
  display: block;
}

.output a + a {
  margin-left: 0.25rem;
} */

.output img {
  border-radius: inherit;
  width: 15rem;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
