body {
  font-family: Arial, sans-serif;
  margin: 30px;
  padding: 0;
  overflow-x: hidden;
}

.container {
  margin: 20px auto;
  padding: 0 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

video {
  width: 70%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

.timeline {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.timeline-clip {
  height: 20px;
  background-color: red;
  border: 1px solid black;
  margin-right: 5px;
  cursor: pointer;
}

.timeline-clip:last-child {
  margin-right: 0;
}

.blade-tool {
  margin-top: 20px;
}

.export-button {
  margin-top: 20px;
}

.output {
  border-radius: 0.75em;
  display: flex;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  justify-content: center;
  top: -21px;
}

.output::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

.output::-webkit-scrollbar-thumb {
  background-color: #00e0ff;
  outline: 1px solid rgb(145, 178, 211);
}

.output img {
  border-radius: inherit;
  width: 15rem;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  margin: 0;
  padding: 0;
  user-select: none;
}

div#root {
  background: linear-gradient(180deg, #003d75, #232b56);
  padding: 30px;
  min-height: 93.9vh;
}

div#root > div {
  margin: 0 !important;
}

.button-demo {
  text-align: center;
}

.button-demo button {
  background: #2962ff;
  border: 1px solid #2962ff;
  color: white;
  padding: 20px 25px;
  font-weight: 700;
  border-radius: 8px;
}

.file-upload {
  margin-top: 80px;
}

.file-upload div {
  color: white;
}

.file-upload div button {
  margin-right: 10px;
}

.video-wrapper > button {
  background: transparent;
  border: none;
  position: fixed;
  top: 26px;
  right: 12px;
  z-index: 99999;
}

.video-wrapper > button svg {
  width: 50px;
  height: 50px;
}

.video-wrapper > button svg path {
  stroke: white;
}

.slider__track {
  background-color: transparent !important;
  position: relative !important;
}

.slider__range {
  background-color: transparent !important;

  position: static !important;
  height: 50px !important;
  margin-top: -31px;
}

.thumb::-webkit-slider-thumb {
  background-color: #00e0ff !important;
  border: none;
  outline: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.speed-scroll {
  position: relative;
}

.output img {
  height: 144px;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}

.output > div {
  width: 10%;
}

.save-btn {
  background-color: #04ef57 !important;
}

.play-btn {
  background-color: #2962ff !important;
  color: #fff !important;
}

.save-btn,
.play-btn {
  border-radius: 8px;
  box-sizing: border-box;
  padding: 0 20px;
  height: 50px;
  background-color: #fff;
  border: 1px solid hsla(0, 0%, 100%, 0);
  color: #000;
  font-size: 14px;
  min-width: 100px;
  font-weight: 600;
}

.trim-outer .trim-btn {
  background-color: #8a9dd9bf;
  border: 0;
  border-radius: 8px;
  padding: 4px 8px;
  line-height: 0.5;

  color: #fff;
}

.icon-img span {
  padding: 0 5px 0px 0px;
  min-width: 35px;
  font-size: 14px;
  font-weight: 600;
}

.icon-img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.icon-img img {
  height: 42px !important;
  width: 30px !important;
}

.action-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: #000000c4;
  z-index: 99999;
}

.spinner {
  margin: auto;
  width: 100px;
  height: 70px;
}

.spinner > div {
  background: #003d75;
  height: 100%;
  width: 6px;
  float: left;
  margin: 0 1px;
  animation: stretch 2s infinite;
  animation-timing-function: cubic-bezier(0.62, 0.28, 0.23, 0.99);
}

.spinner .r1 {
  animation-delay: -1s;
}

.spinner .r2 {
  animation-delay: -0.9s;
}

.spinner .r3 {
  animation-delay: -0.8s;
}

.spinner .r4 {
  animation-delay: -0.7s;
}

.spinner .r5 {
  animation-delay: -0.6s;
}

@keyframes stretch {
  0%,
  20%,
  49% {
    transform: scaleY(0.4);
    background-color: #195fd2;
  }
  10% {
    transform: scaleY(1);
  }
  50%,
  70%,
  100% {
    transform: scaleY(0.4);
    background-color: #649129;
  }
  60% {
    transform: scaleY(1);
    background-color: #649129;
  }
}
.toast-msg {
  font-size: 40px;
  margin: 50px 0;
  color: #d6db02;
  text-transform: capitalize;
}
